$crlPriDark : #00796b; 
$crlPri : #009688;
$clrLight : #b2dfdb;
$clrText : #212121;
$clrTextSec: #757575;

.bg-pri { background: $crlPri; }
.text-pri { background: $crlPri; }
p{
    color: $clrText !important;
}

.position-fixed{
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 2;
}

.header-btn {
  border: 1px solid $crlPri;
  &:hover{
    background-color: $crlPri;
    color: white !important;
  }
}

.sec-1{
    .back_img {
        background-position: center;
        background-size: cover;
        height: 450px;
        position: relative;
    }
    .p-abs {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.sec-2{
    .mini-card{
        overflow: hidden;
        img{
            width: 100%;
            height: 200px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.section-worker-card{
    .worker-card{
        height: 400px;
        .one{
            border-bottom: 1px solid lightgray;

            .backImg{
                height: 100px;
                width: 100px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .two{
            border-bottom: 1px solid lightgray;
        }
    }
}

.sec-4{
    .row{
        height: 450px ;

    }
}

.sec-5{
    .btn-container{
        .btn-new{
            border: 1px solid $crlPri;
            color: $crlPri;
            transition: 0.2 ease-in-out;
            text-decoration: none;
            margin-right: 15px;
            float: left;
    
            &:hover{
                border: 1px solid $crlPri ;
                background: $crlPri;
                color: white ;
            }
        }
    }
}